%border {
    padding-bottom: 5px;
    position: relative;

    &::after {
        background-color: $white;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: opacity 0.3s;
        width: 100%;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}