$offset: 65px;

.hero {
	overflow: visible;

	&__content {
		padding: $offset 0 0 10%;
		position: relative;
	}

	&__logo {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		bottom: 0;
		display: block;
		max-width: 1031px;
		opacity: 0.1;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 95%;
		z-index: 1;
	}

	&__title {
		font-family: $sans-serif;
		font-size: 3.5rem;
		font-weight: 500;
		max-width: 800px;
	}

	&__subtitle,
	&__subtitle>p {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 26px;
		margin-top: 25px;
		max-width: 800px;
	}

	&__container-image {
		margin-top: 65px;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
		z-index: 3;
	}

	&__image {
		height: 100%;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	+ .flex-row {
		padding-top: $offset;
		position: relative;
		top: -#{$offset};
		z-index: 2;
	}
}

@media screen and (min-width: $md) {
	$offset: 100px;

	.hero {
		&__title {
			font-size: 6rem;
		}

		&__container-image {
			padding-bottom: 65%;
		}

		&__image {
			height: auto;
			width: 100%;
		}

		+ .flex-row {
			padding-top: $offset;
			top: -#{$offset};
		}
	}
}

@media screen and (min-width: $lg) {
	$offset: 200px;

	.hero {
		&__content {
			padding: 75px 0 0 8%;

			&__top {
				align-items: flex-end;
				display: flex;
			}
		}

		&__title {
			margin-right: 8%;
			max-width: 650px;
		}

		&__subtitle {
			margin-top: 0;
			max-width: 565px;

			p {
				margin-top: 0;
			}
		}

		&__container-image {
			padding-bottom: 43%;
		}


		+ .flex-row {
			top: -#{$offset};
			padding-top: calc(#{$offset} + 100px);
		}
	}
}
