.hero-variant {
    overflow: visible;

    @media screen and (min-width: $lg) {
        + .flex-row {
            padding-top: 100px;
            position: relative;
            z-index: 2;
        }
    }
}