.wpml-ls {
  background-color: $blue;
  border: 0 !important;
  padding: 20px !important;
}

.wpml-ls-current-language {
  display: none !important; //override wpml default style
}

.wpml-ls-display {
  display: none;
}

.wpml-ls-link {
  @extend %border;

  text-transform: uppercase;
  color: $white;
  font-size: 1.2rem;
}

@media screen and (min-width: $lg) {
  .wpml-ls-link {
    color: $white;
    padding: 0;
    position: relative;
    transition: color 0.3s;
  }

  .wpml-ls-legacy-list-horizontal a {
    padding: 0 0 5px !important;
  }
}

@media screen and (min-width: $xl) {
  .wpml-ls-native {
    font-size: 1.4rem;
  }
}
